.number{
    background-color: #f16b6b;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}
#secondNum{
    color: blue;
    font-size: 36px;
}
.third{
    font-size: 24px;
}
#specialNum{
    background-color: #6be447;
    font-size: 24px;
    font-weight: 500;
}